body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #0044cc;
    color: white;
    padding: 40px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menuButton {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.menu-icon div {
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s;
}

#logoTitleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

#logoImage {
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
}

#searchContainer {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
}

#searchBar, #searchButton {
    padding: 8px;
    margin-right: 5px;
}

#searchBar {
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#searchButton {
    background-color: #0084ff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

#searchButton:hover {
    background-color: #0056b3;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

form {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-top: 20px;
}

label {
    display: block;
    margin: 10px 0;
}

input, select, textarea, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #0066cc;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #004499;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f1f1f1;
}

/* Menu styles */
#menuOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#menu {
    position: fixed;
    top: 0;
    left: -100%; /* Ensure the menu is completely offscreen */
    width: 25%;
    height: 100%;
    background: white;
    z-index: 1001;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease;
}

#menu.open {
    left: 0; /* Slide the menu into view */
}

#menu h2 {
    margin-top: 0;
}

#menu a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: black;
}

#menu a:hover {
    background: #f1f1f1;
}
